URxvt.url-select.underline:	true
URxvt.scrollBar:		false
URxvt.depth: 			32
URxvt.saveLines: 		9192
*.geometry:			80x19
*.foreground:			#c5c8c6
*.background: 			#1d1f21
*.cursorColor: 			#c5c8c6

*color0:  #e8eaf6
*color1:  #c5cae9
*color2:  #9fa8da
*color3:  #7986cb
*color4:  #5c6bc0
*color5:  #3f51b5
*color6:  #3949ab
*color7:  #303f9f
*color8:  #283593
*color9:  #3890F5
*color10: #8c9eff
*color11: #536dfe
*color12: #3d5afe
*color13: #304ffe
*color14: #93e0e3
*color15: #ffffff

!URxvt*loginShell: true
URxvt.font: xft:Iosevka Regular:size=9
URxvt.boldFont: xft:Iosevka Bold:size=9
URxvt.letterSpace: -2
URxvt.perl-ext-common: default,matcher
!tabbedex
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
Xft.dpi:                        96
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcdlight
Xft.rgba:                       rgb
URxvt*termName:                 rxvt-256color
URxvt*lineSpace:                1